services:
  app:
    build:
      context: ./services/web-app
      dockerfile: Dockerfile
    container_name: taskmanager-app
    restart: unless-stopped
    ports:
      - '4321:4321'
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=4321
      - POSTGRES_HOST=postgres
    depends_on:
      - postgres
    networks:
      - taskmanager_network

  postgres:
    image: pgvector/pgvector:pg15
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./services/db/certs/server.crt:/var/lib/postgresql/server.crt:ro
      - ./services/db/certs/server.key:/var/lib/postgresql/server.key:ro
    command: >
      postgres
      -c ssl=on
      -c ssl_cert_file=/var/lib/postgresql/server.crt
      -c ssl_key_file=/var/lib/postgresql/server.key
    networks:
      - taskmanager_network

volumes:
  postgres_data:

networks:
  taskmanager_network:
    driver: bridge
