openapi: 3.1.0
info:
  title: TaskManager API
  description: |
    Task management API with OAuth 2.0 support.

    ## Authentication

    Most endpoints require authentication via one of:
    - **Session cookie**: Obtained after login via `/api/auth/login`
    - **Bearer token**: OAuth 2.0 access token in `Authorization: Bearer <token>` header

    ## Response Format

    ### Success Responses
    ```json
    {
      "data": <payload>,
      "meta": { "count": 10, "page": 1 }  // optional
    }
    ```

    ### Error Responses
    ```json
    {
      "error": {
        "code": "ERROR_CODE",
        "message": "Human readable message",
        "details": {}  // optional
      }
    }
    ```

    ## Error Codes

    | Code | Status | Description |
    |------|--------|-------------|
    | AUTH_001 | 401 | Invalid credentials |
    | AUTH_002 | 401 | Authentication required |
    | AUTH_003 | 401 | Session expired |
    | AUTH_004 | 401 | Invalid token |
    | AUTHZ_001 | 403 | Permission denied |
    | AUTHZ_002 | 403 | Not resource owner |
    | AUTHZ_003 | 403 | Insufficient OAuth scope |
    | VALIDATION_001-008 | 400 | Input validation errors |
    | NOT_FOUND_001-005 | 404 | Resource not found |
    | CONFLICT_001-002 | 409 | Resource conflict |
    | RATE_001 | 429 | Rate limited |
    | OAUTH_001-010 | 400/401 | OAuth errors |
    | SERVER_001-003 | 500 | Server errors |

  version: 1.0.0
  contact:
    name: Brooks McMillin
    url: https://todo.brooksmcmillin.com

servers:
  - url: https://todo.brooksmcmillin.com
    description: Production
  - url: http://localhost:4321
    description: Development

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Todos
    description: Task management
  - name: Projects
    description: Project management
  - name: OAuth
    description: OAuth 2.0 authorization server

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie from login
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "VALIDATION_001"
            message:
              type: string
              example: "Invalid input"
            details:
              type: object

    Todo:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, in_progress, completed]
        priority:
          type: integer
          minimum: 1
          maximum: 5
        due_date:
          type: string
          format: date
          nullable: true
        project_id:
          type: integer
          nullable: true
        project_name:
          type: string
          nullable: true
        project_color:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    OAuthClient:
      type: object
      properties:
        id:
          type: integer
        client_id:
          type: string
        name:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
        grant_types:
          type: array
          items:
            type: string
            enum: [authorization_code, refresh_token, client_credentials, device_code]
        scopes:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time

    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          description: Token lifetime in seconds
        refresh_token:
          type: string
        scope:
          type: string

    DeviceCodeResponse:
      type: object
      required:
        - device_code
        - user_code
        - verification_uri
        - expires_in
        - interval
      properties:
        device_code:
          type: string
          description: Device verification code (keep secret)
        user_code:
          type: string
          description: User-facing code (e.g., WDJB-MJHT)
        verification_uri:
          type: string
          format: uri
        verification_uri_complete:
          type: string
          format: uri
        expires_in:
          type: integer
        interval:
          type: integer
          description: Minimum polling interval in seconds

paths:
  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        "201":
          description: User created
        "400":
          description: Validation error
        "409":
          description: User already exists

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login and create session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login successful
        "401":
          description: Invalid credentials
        "429":
          description: Rate limited

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Logout and clear session
      security:
        - sessionCookie: []
      responses:
        "200":
          description: Logged out

  /api/todos:
    get:
      tags: [Todos]
      summary: List todos
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, completed, overdue, all]
        - name: project_id
          in: query
          schema:
            type: integer
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of todos

    post:
      tags: [Todos]
      summary: Create a todo
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: integer
                  minimum: 1
                  maximum: 5
                due_date:
                  type: string
                  format: date
                project_id:
                  type: integer
                category:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        "201":
          description: Todo created

  /api/todos/{id}:
    get:
      tags: [Todos]
      summary: Get a todo by ID
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Todo details
        "404":
          description: Todo not found

    put:
      tags: [Todos]
      summary: Update a todo
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Todo updated

    delete:
      tags: [Todos]
      summary: Delete a todo
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Todo deleted

  /api/todos/{id}/complete:
    post:
      tags: [Todos]
      summary: Mark todo as complete
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Todo completed

  /api/tasks/search:
    get:
      tags: [Todos]
      summary: Search todos
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Search results

  /api/projects:
    get:
      tags: [Projects]
      summary: List projects
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: List of projects

    post:
      tags: [Projects]
      summary: Create a project
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                color:
                  type: string
                  default: "#3b82f6"
      responses:
        "201":
          description: Project created

  /api/projects/{id}:
    get:
      tags: [Projects]
      summary: Get a project by ID
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Project details
        "404":
          description: Project not found

    put:
      tags: [Projects]
      summary: Update a project
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Project updated

    delete:
      tags: [Projects]
      summary: Delete a project
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Project deleted

  /api/oauth/authorize:
    get:
      tags: [OAuth]
      summary: Authorization endpoint
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          schema:
            type: string
            enum: [S256, plain]
      responses:
        "302":
          description: Redirect to consent page

  /api/oauth/token:
    post:
      tags: [OAuth]
      summary: Token endpoint
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                    - refresh_token
                    - client_credentials
                    - "urn:ietf:params:oauth:grant-type:device_code"
                client_id:
                  type: string
                client_secret:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                code_verifier:
                  type: string
                refresh_token:
                  type: string
                device_code:
                  type: string
                scope:
                  type: string
      responses:
        "200":
          description: Token response

  /api/oauth/device/code:
    post:
      tags: [OAuth]
      summary: Device authorization endpoint (RFC 8628)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [client_id]
              properties:
                client_id:
                  type: string
                scope:
                  type: string
      responses:
        "200":
          description: Device code response

  /api/oauth/device/authorize:
    post:
      tags: [OAuth]
      summary: Authorize or deny device
      security:
        - sessionCookie: []
      responses:
        "302":
          description: Redirect to success or denied page

  /api/oauth/clients:
    get:
      tags: [OAuth]
      summary: List OAuth clients
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: List of OAuth clients

    post:
      tags: [OAuth]
      summary: Create OAuth client
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, redirectUris]
              properties:
                name:
                  type: string
                redirectUris:
                  type: array
                  items:
                    type: string
                grantTypes:
                  type: array
                  items:
                    type: string
                scopes:
                  type: array
                  items:
                    type: string
                isPublic:
                  type: boolean
                clientSecret:
                  type: string
      responses:
        "201":
          description: Client created

  /api/oauth/clients/{clientId}:
    get:
      tags: [OAuth]
      summary: Get OAuth client
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Client details

    delete:
      tags: [OAuth]
      summary: Delete OAuth client
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Client deleted

  /api/categories:
    get:
      tags: [Projects]
      summary: Get categories with task counts
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: Categories with counts
