openapi: 3.1.0
info:
  title: TaskManager API
  description: |
    Task management API with OAuth 2.0 support.

    ## Authentication

    Most endpoints require authentication via one of:
    - **Session cookie**: Obtained after login via `/api/auth/login`
    - **Bearer token**: OAuth 2.0 access token in `Authorization: Bearer <token>` header

    ## Response Format

    ### Success Responses
    ```json
    {
      "data": <payload>,
      "meta": { "count": 10, "page": 1 }  // optional
    }
    ```

    ### Error Responses
    ```json
    {
      "error": {
        "code": "ERROR_CODE",
        "message": "Human readable message",
        "details": {}  // optional
      }
    }
    ```

    ## Error Codes

    | Code | Status | Description |
    |------|--------|-------------|
    | AUTH_001 | 401 | Invalid credentials |
    | AUTH_002 | 401 | Authentication required |
    | AUTH_003 | 401 | Session expired |
    | AUTH_004 | 401 | Invalid token |
    | AUTHZ_001 | 403 | Permission denied |
    | AUTHZ_002 | 403 | Not resource owner |
    | AUTHZ_003 | 403 | Insufficient OAuth scope |
    | VALIDATION_001-008 | 400 | Input validation errors |
    | NOT_FOUND_001-005 | 404 | Resource not found |
    | CONFLICT_001-002 | 409 | Resource conflict |
    | RATE_001 | 429 | Rate limited |
    | OAUTH_001-010 | 400/401 | OAuth errors |
    | SERVER_001-003 | 500 | Server errors |

  version: 1.0.0
  contact:
    name: Brooks McMillin
    url: https://todo.brooksmcmillin.com

servers:
  - url: https://todo.brooksmcmillin.com
    description: Production
  - url: http://localhost:4321
    description: Development

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Todos
    description: Task management
  - name: Recurring Tasks
    description: Recurring task templates
  - name: Trash
    description: Deleted task management
  - name: Projects
    description: Project management
  - name: OAuth
    description: OAuth 2.0 authorization server

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie from login
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: 'VALIDATION_001'
            message:
              type: string
              example: 'Invalid input'
            details:
              type: object

    Todo:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, in_progress, completed]
        priority:
          type: integer
          minimum: 1
          maximum: 5
        due_date:
          type: string
          format: date
          nullable: true
        project_id:
          type: integer
          nullable: true
        project_name:
          type: string
          nullable: true
        project_color:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        color:
          type: string
          pattern: '^#[0-9a-fA-F]{6}$'
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    OAuthClient:
      type: object
      properties:
        id:
          type: integer
        client_id:
          type: string
        name:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
        grant_types:
          type: array
          items:
            type: string
            enum:
              [
                authorization_code,
                refresh_token,
                client_credentials,
                device_code,
              ]
        scopes:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time

    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: 'Bearer'
        expires_in:
          type: integer
          description: Token lifetime in seconds
        refresh_token:
          type: string
        scope:
          type: string

    DeviceCodeResponse:
      type: object
      required:
        - device_code
        - user_code
        - verification_uri
        - expires_in
        - interval
      properties:
        device_code:
          type: string
          description: Device verification code (keep secret)
        user_code:
          type: string
          description: User-facing code (e.g., WDJB-MJHT)
        verification_uri:
          type: string
          format: uri
        verification_uri_complete:
          type: string
          format: uri
        expires_in:
          type: integer
        interval:
          type: integer
          description: Minimum polling interval in seconds

paths:
  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '201':
          description: User created
        '400':
          description: Validation error
        '409':
          description: User already exists

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login and create session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
        '401':
          description: Invalid credentials
        '429':
          description: Rate limited

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Logout and clear session
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Logged out

  /api/todos:
    get:
      tags: [Todos]
      summary: List todos
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, completed, overdue, all]
        - name: project_id
          in: query
          schema:
            type: integer
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of todos

    put:
      tags: [Todos]
      summary: Bulk update todos
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, updates]
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                updates:
                  type: object
                  properties:
                    status:
                      type: string
                      enum: [pending, in_progress, completed]
                    priority:
                      type: integer
                    project_id:
                      type: integer
      responses:
        '200':
          description: Todos updated

    post:
      tags: [Todos]
      summary: Create a todo
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: integer
                  minimum: 1
                  maximum: 5
                due_date:
                  type: string
                  format: date
                project_id:
                  type: integer
                category:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Todo created

  /api/todos/{id}:
    get:
      tags: [Todos]
      summary: Get a todo by ID
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Todo details
        '404':
          description: Todo not found

    put:
      tags: [Todos]
      summary: Update a todo
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Todo updated

    delete:
      tags: [Todos]
      summary: Delete a todo
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Todo deleted

  /api/todos/{id}/complete:
    post:
      tags: [Todos]
      summary: Mark todo as complete
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Todo completed

  /api/tasks/search:
    get:
      tags: [Todos]
      summary: Search todos
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results

  /api/recurring-tasks:
    get:
      tags: [Recurring Tasks]
      summary: List recurring tasks
  /api/trash:
    get:
      tags: [Trash]
      summary: List deleted todos
      description: Returns all soft-deleted todos for the authenticated user. Supports full-text search via query parameter.
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
          description: Only return active recurring tasks
      responses:
        '200':
          description: List of recurring tasks

    post:
      tags: [Recurring Tasks]
      summary: Create a recurring task
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, frequency, start_date]
              properties:
                title:
                  type: string
                frequency:
                  type: string
                  enum: [daily, weekly, monthly, yearly]
                start_date:
                  type: string
                  format: date
                interval_value:
                  type: integer
                  default: 1
                weekdays:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 6
                  description: For weekly (0=Sun, 6=Sat)
                day_of_month:
                  type: integer
                  minimum: 1
                  maximum: 31
                  description: For monthly frequency
                end_date:
                  type: string
                  format: date
                project_id:
                  type: integer
                description:
                  type: string
                priority:
                  type: string
                  enum: [low, medium, high, urgent]
                  default: medium
                estimated_hours:
                  type: number
                  default: 1.0
                tags:
                  type: array
                  items:
                    type: string
                context:
                  type: string
                  default: work
                skip_missed:
                  type: boolean
                  default: true
                  description: >
                    If true (floating), next occurrence is calculated from
                    today when completed. If false (fixed), uses strict
                    schedule.
      responses:
        '201':
          description: Recurring task created

  /api/recurring-tasks/{id}:
    get:
      tags: [Recurring Tasks]
      summary: Get a recurring task by ID
        - name: query
          in: query
          description: Search query for filtering deleted todos by title/description
          schema:
            type: string
      responses:
        '200':
          description: List of deleted todos
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Todo'
                        - type: object
                          properties:
                            deleted_at:
                              type: string
                              format: date
                              description: Date when the todo was deleted
                  count:
                    type: integer
                    description: Number of deleted todos returned
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/trash/{id}/restore:
    post:
      tags: [Trash]
      summary: Restore a deleted todo
      description: Restores a soft-deleted todo back to the active todos list.
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the deleted todo to restore
          schema:
            type: integer
      responses:
        '200':
          description: Recurring task details
        '404':
          description: Recurring task not found

    put:
      tags: [Recurring Tasks]
      summary: Update a recurring task
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                frequency:
                  type: string
                  enum: [daily, weekly, monthly, yearly]
                interval_value:
                  type: integer
                weekdays:
                  type: array
                  items:
                    type: integer
                day_of_month:
                  type: integer
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                next_due_date:
                  type: string
                  format: date
                project_id:
                  type: integer
                description:
                  type: string
                priority:
                  type: string
                  enum: [low, medium, high, urgent]
                estimated_hours:
                  type: number
                tags:
                  type: array
                  items:
                    type: string
                context:
                  type: string
                skip_missed:
                  type: boolean
                is_active:
                  type: boolean
      responses:
        '200':
          description: Recurring task updated
        '404':
          description: Recurring task not found

    delete:
      tags: [Recurring Tasks]
      summary: Deactivate a recurring task
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recurring task deactivated
        '404':
          description: Recurring task not found
          description: Todo restored successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  restored:
                    type: boolean
                    example: true
                  id:
                    type: integer
                    description: ID of the restored todo
        '400':
          description: Invalid todo ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Deleted todo not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/projects:
    get:
      tags: [Projects]
      summary: List projects
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        '200':
          description: List of projects

    post:
      tags: [Projects]
      summary: Create a project
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                color:
                  type: string
                  default: '#3b82f6'
      responses:
        '201':
          description: Project created

  /api/projects/{id}:
    get:
      tags: [Projects]
      summary: Get a project by ID
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Project details
        '404':
          description: Project not found

    put:
      tags: [Projects]
      summary: Update a project
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Project updated

    delete:
      tags: [Projects]
      summary: Delete a project
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Project deleted

  /api/oauth/authorize:
    get:
      tags: [OAuth]
      summary: Authorization endpoint
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          schema:
            type: string
            enum: [S256, plain]
      responses:
        '302':
          description: Redirect to consent page

    post:
      tags: [OAuth]
      summary: Process authorization consent
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [approve, deny]
                client_id:
                  type: string
                redirect_uri:
                  type: string
                scope:
                  type: string
                state:
                  type: string
                code_challenge:
                  type: string
                code_challenge_method:
                  type: string
      responses:
        '302':
          description: Redirect to client with authorization code or error

  /api/oauth/token:
    post:
      tags: [OAuth]
      summary: Token endpoint
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                    - refresh_token
                    - client_credentials
                    - 'urn:ietf:params:oauth:grant-type:device_code'
                client_id:
                  type: string
                client_secret:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                code_verifier:
                  type: string
                refresh_token:
                  type: string
                device_code:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Token response

  /api/oauth/device/code:
    post:
      tags: [OAuth]
      summary: Device authorization endpoint (RFC 8628)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [client_id]
              properties:
                client_id:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Device code response

  /api/oauth/device/authorize:
    post:
      tags: [OAuth]
      summary: Authorize or deny device
      security:
        - sessionCookie: []
      responses:
        '302':
          description: Redirect to success or denied page

  /api/oauth/clients:
    get:
      tags: [OAuth]
      summary: List OAuth clients
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        '200':
          description: List of OAuth clients

    post:
      tags: [OAuth]
      summary: Create OAuth client
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, redirectUris]
              properties:
                name:
                  type: string
                redirectUris:
                  type: array
                  items:
                    type: string
                grantTypes:
                  type: array
                  items:
                    type: string
                scopes:
                  type: array
                  items:
                    type: string
                isPublic:
                  type: boolean
                clientSecret:
                  type: string
      responses:
        '201':
          description: Client created

  /api/oauth/clients/{clientId}:
    put:
      tags: [OAuth]
      summary: Update OAuth client
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                redirectUris:
                  type: array
                  items:
                    type: string
                grantTypes:
                  type: array
                  items:
                    type: string
                scopes:
                  type: array
                  items:
                    type: string
                isActive:
                  type: boolean
      responses:
        '200':
          description: Client updated

    delete:
      tags: [OAuth]
      summary: Delete OAuth client
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Client deleted

  /api/categories:
    get:
      tags: [Projects]
      summary: Get categories with task counts
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        '200':
          description: Categories with counts
