---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const { title} = Astro.props;
const user = Astro.locals.user;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Todo Manager with Projects" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50">
    <Navigation user={user} />
    <slot />
  </body>
</html>
