name: Pre-commit

on:
  pull_request:
    branches: [main]

jobs:
  precommit:
    uses: ./.github/workflows/node-precommit.yml
    with:
      node-version: '22'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
